<ion-header>
    <ion-toolbar>
      <ion-title><ion-button color="danger" (click)="salir()">
          <ion-icon name="arrow-round-back"></ion-icon>
      </ion-button>registro</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>

  <ion-card color="secondary">
    <ion-card-header>
      <ion-card-title>NUEVA CITA DE PSICOLOGIA </ion-card-title>
    </ion-card-header>

    <ion-card-content>
    <ion-item>
        <ion-label color="primary" floating>Fecha y hora</ion-label>
        <ion-datetime display-format="MMM DD, YYYY HH:mm"
                      formControlName="fecha"
        ></ion-datetime>
      </ion-item>

      <ion-card-title>
          Datos del estudiante
        </ion-card-title>

        <ion-list>
          <ion-item>
            <ion-label color="primary" floating>Nombre del estudiante</ion-label>
            <ion-input formControlName="NombreEstudiante"></ion-input>
          </ion-item>
          <ion-item *ngIf="form.get('Id').errors && form.get('Id').touched">
            <p *ngIf= "form.get('Id').hasError('required')">Es obligatori</p>
          </ion-item>
        </ion-list>

        <ion-list>
            <ion-item>
              <ion-label color="primary" floating>Edad</ion-label>
              <ion-input formControlName="Edad"></ion-input>
            </ion-item>
            <ion-item *ngIf="form.get('Id').errors && form.get('Id').touched">
              <p *ngIf= "form.get('Id').hasError('required')">Es obligatori</p>
            </ion-item>
          </ion-list>

          <ion-list>
              <ion-item>
                <ion-label color="primary" floating>Sexo</ion-label>
                <ion-input formControlName="Sexo"></ion-input>
              </ion-item>
              <ion-item *ngIf="form.get('Id').errors && form.get('Id').touched">
                <p *ngIf= "form.get('Id').hasError('required')">Es obligatori</p>
              </ion-item>
            </ion-list>

            <ion-list>
                <ion-item>
                  <ion-label color="primary" floating>Curso</ion-label>
                  <ion-input formControlName="Curso"></ion-input>
                </ion-item>
                <ion-item *ngIf="form.get('Id').errors && form.get('Id').touched">
                  <p *ngIf= "form.get('Id').hasError('required')">Es obligatori</p>
                </ion-item>
              </ion-list>

              <ion-card-title>
                  Datos familiares
                </ion-card-title>

              <ion-list>
                  <ion-item>
                    <ion-label color="primary" floating>Nombre de la mamá</ion-label>
                    <ion-input formControlName="NombreMamá"></ion-input>
                  </ion-item>
                  <ion-item *ngIf="form.get('Id').errors && form.get('Id').touched">
                    <p *ngIf= "form.get('Id').hasError('required')">Es obligatori</p>
                  </ion-item>
                </ion-list>

                <ion-list>
                    <ion-item>
                      <ion-label color="primary" floating>Número telefónico</ion-label>
                      <ion-input formControlName="NúmeroTelefónico"></ion-input>
                    </ion-item>
                    <ion-item *ngIf="form.get('Id').errors && form.get('Id').touched">
                      <p *ngIf= "form.get('Id').hasError('required')">Es obligatori</p>
                    </ion-item>
                  </ion-list>

                  <ion-list>
                      <ion-item>
                        <ion-label color="primary" floating>Dirección de residencia</ion-label>
                        <ion-input formControlName="DirecciónResidencia"></ion-input>
                      </ion-item>
                      <ion-item *ngIf="form.get('Id').errors && form.get('Id').touched">
                        <p *ngIf= "form.get('Id').hasError('required')">Es obligatori</p>
                      </ion-item>
                    </ion-list>

                    <ion-list>
                        <ion-item>
                          <ion-label color="primary" floating>Nombre del Papá</ion-label>
                          <ion-input formControlName="NombrePapá"></ion-input>
                        </ion-item>
                        <ion-item *ngIf="form.get('Id').errors && form.get('Id').touched">
                          <p *ngIf= "form.get('Id').hasError('required')">Es obligatori</p>
                        </ion-item>
                      </ion-list>

                      <ion-list>
                          <ion-item>
                            <ion-label color="primary" floating>Número telefónico</ion-label>
                            <ion-input formControlName="NúmeroTelefónicoP"></ion-input>
                          </ion-item>
                          <ion-item *ngIf="form.get('Id').errors && form.get('Id').touched">
                            <p *ngIf= "form.get('Id').hasError('required')">Es obligatori</p>
                          </ion-item>
                        </ion-list>

                        <ion-list>
                            <ion-item>
                              <ion-label color="primary" floating>Dirección de residencia</ion-label>
                              <ion-input formControlName="DirecciónResidenciaP"></ion-input>
                            </ion-item>
                            <ion-item *ngIf="form.get('Id').errors && form.get('Id').touched">
                              <p *ngIf= "form.get('Id').hasError('required')">Es obligatori</p>
                            </ion-item>
                          </ion-list>

                          <ion-list>
                              <ion-item>
                                <ion-label color="primary" floating>Nombre del acudiente</ion-label>
                                <ion-input formControlName="NombreAcudiente"></ion-input>
                              </ion-item>
                              <ion-item *ngIf="form.get('Id').errors && form.get('Id').touched">
                                <p *ngIf= "form.get('Id').hasError('required')">Es obligatori</p>
                              </ion-item>
                            </ion-list>

                            <ion-card-title>
                                Datos del caso
                              </ion-card-title>

                            <ion-list>
                                <ion-item>
                                  <ion-label color="primary" floating>Caso número</ion-label>
                                  <ion-input formControlName="CasoNúmero"></ion-input>
                                </ion-item>
                                <ion-item *ngIf="form.get('Id').errors && form.get('Id').touched">
                                  <p *ngIf= "form.get('Id').hasError('required')">Es obligatori</p>
                                </ion-item>
                              </ion-list>

                              <ion-list>
                                  <ion-item>
                                    <ion-label color="primary" floating>Motivo de la cita</ion-label>
                                    <ion-input formControlName="MotivoCita"></ion-input>
                                  </ion-item>
                                  <ion-item *ngIf="form.get('Id').errors && form.get('Id').touched">
                                    <p *ngIf= "form.get('Id').hasError('required')">Es obligatori</p>
                                  </ion-item>
                                </ion-list>

                                <ion-list>
                                    <ion-item>
                                      <ion-label color="primary" floating>Caso</ion-label>
                                      <ion-input formControlName="Caso"></ion-input>
                                    </ion-item>
                                    <ion-item *ngIf="form.get('Id').errors && form.get('Id').touched">
                                      <p *ngIf= "form.get('Id').hasError('required')">Es obligatori</p>
                                    </ion-item>
                                  </ion-list>

                                  <ion-list>
                                      <ion-item>
                                        <ion-label color="primary" floating>Remitir a:</ion-label>
                                        <ion-input formControlName="Remitir"></ion-input>
                                      </ion-item>
                                      <ion-item *ngIf="form.get('Id').errors && form.get('Id').touched">
                                        <p *ngIf= "form.get('Id').hasError('required')">Es obligatori</p>
                                      </ion-item>
                                    </ion-list>

                                    <ion-list>
                                        <ion-item>
                                          <ion-label color="primary" floating>Anexos</ion-label>
                                          <ion-input formControlName="Anexos"></ion-input>
                                        </ion-item>
                                        <ion-item *ngIf="form.get('Id').errors && form.get('Id').touched">
                                          <p *ngIf= "form.get('Id').hasError('required')">Es obligatori</p>
                                        </ion-item>
                                      </ion-list>

        </ion-card-content>

        <ion-button>Guardar formulario<ion-icon slot="start" name="save"></ion-icon></ion-button>

      </ion-card>
    </ion-content>