<ion-content color="Light" slots="fixed" padding>
  <ion-grid class="max-height box">
    <ion-row>
      <ion-col>
        <div class="box">
          <ion-avatar>
            <img src="/assets/brain.jpg" />
          </ion-avatar>
        </div>
        <div class="pt box">
            <p>Login</p>
        </div>
        
        <form [formGroup]="loginForm">
          <ion-item >
            <ion-label position="floating">
              Usuario
            </ion-label>
            <ion-input type="text" formControlName="email"> </ion-input>
          </ion-item>
          <div class="error-messages small-nine">
            <ng-container *ngFor="let error of error_messages.email">
              <div
                class="error-messages small-nine"
                *ngIf="
                  loginForm.get('email').hasError(error.type) &&
                  (loginForm.get('email').dirty ||
                    loginForm.get('email').touched)
                "
              >
                {{ error.message }}
              </div>
            </ng-container>
          </div>
          <ion-item >
            <ion-label position="floating">
              Contraseña
            </ion-label>
            <ion-input type="password" formControlName="password"> </ion-input>
          </ion-item>
          <div class="error-messages small-nine">
            <ng-container *ngFor="let error of error_messages.password">
              <div
                class="error-messages small-nine"
                *ngIf="
                  loginForm.get('password').hasError(error.type) &&
                  (loginForm.get('password').dirty ||
                    loginForm.get('password').touched)
                "
              >
                {{ error.message }}
              </div>
            </ng-container>
          </div>
          <div class="box">
          <ion-button
            [disabled]="!loginForm.valid"
            shape="round"
            color="danger"
            (click)="login()"
            strong="true"
            class="pt"
            expand="full"
          >
            <p>Iniciar</p>
          </ion-button>
        </div>
        </form>
        <ion-button shape="round" 
                    color="primary"
                    expand="full">
          <ion-buttons slot="start">
            <ion-icon name="logo-google"></ion-icon>
            Login con Google
          </ion-buttons>
        </ion-button>
        <div class="center-nowrap">
          <p class="small-nine">Deseas 
            <a class="register-messsages small-nine" 
                
            >
              Registrarte
            </a>
          </p>     
          
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
 
</ion-content>
