<ion-header>
  
</ion-header>

<ion-content 
  padding 
  class="background"
  >
  <ion-grid class="container">
    <ion-row align-items-center class="login">  
        <ion-col align-self-center >
          <ion-card color="primary">
              <ion-card-header>
                <ion-card-title>
                  Iniciar sesión
                </ion-card-title>
              </ion-card-header>
              <ion-card-content color="primary">
                  <form [formGroup]="loginForm">
                <ion-item color="primary" >
                  <ion-label position="floating">
                  Usuario
                </ion-label>
                  <ion-input  type="text" 
                            formController="email">
                  </ion-input>
                </ion-item>
                <div class="error-messages">
                  <ng-container *ngFor = "let error of error_messages.email">
                    <div class="error-messages" *ngIf="loginForm.get('email').hasError(error.type) && (loginForm.get('email').dirty || loginForm.get('email').touched)">
                     {{error.message}}
                    </div>
                  </ng-container>
                </div>
                <ion-item color="primary">
                  <ion-label position="floating">
                    Contraseña
                  </ion-label>
                  <ion-input  type="password" 
                             formController="password">
                  </ion-input>
                </ion-item>
                <div class="error-messages">
                    <ng-container *ngFor = "let error of error_messages.password">
                      <div class="error-messages" *ngIf="loginForm.get('password').hasError(error.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
                       {{error.message}}
                      </div>
                    </ng-container>
                  </div>
                <ion-button 
                  [disabled]="loginForm.valid"
                  shape="round"
                  expand="block"
                  color="danger"
                  (click)="login()"

                >
                  Iniciar
                </ion-button>
              </form>
              </ion-card-content>
            </ion-card>
          </ion-col> 
    </ion-row>
  </ion-grid>
  
</ion-content>
