.max-height{
  height: 100%;
}
.background{
  --background: hsla(11, 80%, 60%, .3);
}
.error-messages{
  font-size: 0.9em;
  color: red;
  text-align: center;
}
.box{
  display:flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
.pt{
  padding-top: 10px;
}
.color-input{
  background-color:  hsla(11, 80%, 60%, .3);
}