<ion-header no-border>
  <ion-toolbar color="bar">
    <ion-buttons slot="start">
        <ion-icon slot="icon-only" name="contact" ></ion-icon>
    </ion-buttons>
    <ion-title>
      <h6>Paciente</h6> 
    </ion-title>
    <ion-buttons slot="end">
        <ion-button color="light" (click)="atras()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
        <ion-button color="tertiary" (click)="save()" >
          <ion-icon slot="icon-only" name="checkmark"></ion-icon>
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
      <form [formGroup]="pacienteForm">
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input formControlName="name" [(ngModel)]="paciente.name"></ion-input>      
      </ion-item>
      <ion-item>
        <ion-label position="floating">Apellidos</ion-label>
        <ion-input formControlName="lastName"[(ngModel)]="paciente.lastName"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="floating">Edad</ion-label>
          <ion-input formControlName="edad" [(ngModel)]="paciente.edad"></ion-input>
      </ion-item>
      <ion-item>
            <ion-label position="floating">Teléfono</ion-label>
            <ion-input formControlName="phone" [(ngModel)]="paciente.phone"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label position="floating">Dirección</ion-label>
              <ion-input formControlName="address" [(ngModel)]="paciente.address"></ion-input>
            </ion-item>
      </form>
</ion-content>
