<ion-header no-border>
  <ion-toolbar color="bar">
    <ion-buttons slot="start">
        <ion-icon slot="icon-only" name="contact" ></ion-icon>
    </ion-buttons>
    <ion-title>
      Paciente
    </ion-title>
    <ion-buttons slot="end">
        <ion-button color="light" (click)="atras()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
        <ion-button color="tertiary" (click)="save()" [disabled]="formulario.invalid">
          <ion-icon slot="icon-only" name="checkmark"></ion-icon>
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
      <form #formulario="ngForm">
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input  [(ngModel)]="paciente.name" name="name"
                    type="text"
                    autofocus="true"
                    required="true"
                    inputmode="text"
                    spellcheck="true"
        ></ion-input>      
      </ion-item>
      <ion-item>
        <ion-label position="floating">Apellidos</ion-label>
        <ion-input [(ngModel)]="paciente.lastName" name="lastName"
                   type="text"
                   required="true"
                   inputmode="text"
                   spellcheck="true"
        ></ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="floating">Edad</ion-label>
          <ion-datetime [(ngModel)]="paciente.edad" name="edad"
                        display-format="DD/MM/YYYY"
                        picker-format="DD MMMM YYYY"
                        
                        month-names="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto,
                                     Septiembre, Octubre, Noviembre, Diciembre"
                        month-short-names="Ene, Feb, Mar, Abr, May, Jun, Jul, Ago, Sep, Oct, Nov, Dic"
                        placeholder="Fecha de nacimiento"
                        cancelText="Atrás"
                        doneText="Tomar"
                        required="true"
          ></ion-datetime>
      </ion-item>
      <ion-item>
            <ion-label position="floating">Teléfono</ion-label>
            <ion-input [(ngModel)]="paciente.phone" name="phone"
                       type="tel"
                       required="true"
                       inputmode="tel"
                       spellcheck="true"
            ></ion-input>
          </ion-item>
          <ion-item>
              <ion-label position="floating">Dirección</ion-label>
              <ion-input name="address" [(ngModel)]="paciente.address"
                         type="text"
                         required="true"
                         inputmode="text"
                         spellcheck="true"
              ></ion-input>
            </ion-item>
      </form>
</ion-content>
