<ion-header>
  <ion-toolbar>
    
    <ion-title>
      <ion-grid>
        <ion-row>
          <ion-col align-self-center>
              <ion-icon name="contact" ></ion-icon>
          </ion-col>
          <ion-col>
              <h6>Paciente</h6> 
          </ion-col>
        </ion-row>
      </ion-grid>
        </ion-title>
    <ion-buttons slot="primary">
        <ion-button color="danger" (click)="atras()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
        <ion-button color="primary" (click)="save()" [disabled]="!pacienteForm.valid">
          <ion-icon slot="icon-only" name="checkmark"></ion-icon>
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
      <form [formGroup]="pacienteForm">
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input formControlName="name" ></ion-input>      
      </ion-item>
      <ion-item>
        <ion-label position="floating">Apellidos</ion-label>
        <ion-input formControlName="lastName"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="floating">Edad</ion-label>
          <ion-input formControlName="edad"></ion-input>
      </ion-item>
      <ion-item>
            <ion-label position="floating">Telefono</ion-label>
            <ion-input formControlName="phone"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label position="floating">Dirección</ion-label>
              <ion-input formControlName="address"></ion-input>
            </ion-item>
      </form>
</ion-content>
