<ion-header>
  <ion-toolbar color="dark">
    <ion-title color="primary">
        <ion-icon  name="today" ></ion-icon>
      Formularios
    </ion-title>
  </ion-toolbar>

</ion-header>
<ion-content class="bg">
  <ion-grid>
    <ion-row>
        <ion-card class="card-bg">
            <ion-card-header class="card-h">
              <ion-card-subtitle class="card-h">
                Formularios
              </ion-card-subtitle>
              <ion-card-title>
                <ion-icon name="bookmark"></ion-icon>
                Control</ion-card-title>
            </ion-card-header>
          
            <ion-card-content >
              En esta pestaña puedes encontra las opciones para crear pacientes y buscar Formularios,
              estos formularios cuentan con caracteristicas especiales dependiendo el tipo de cita.
            </ion-card-content>
          </ion-card>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button class="btn-bg" (click)="registro()">
          <ion-icon name="add-circle-outline"
                    ></ion-icon>
          Registrar
        </ion-button>
      </ion-col>
      <ion-col>
          <ion-button class="btn-bg">
            <ion-icon name="search"></ion-icon>
            Buscar
          </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-card class="card-bg">
            <ion-card-header >
              <ion-card-subtitle class="card-h">
                Primera cita
              </ion-card-subtitle>
              <ion-card-title>
                <ion-grid>
                  <ion-row>
                    <ion-col>
                        <ion-icon name="bookmark"></ion-icon>
                        Tipologia del paciente
                    </ion-col>
                    <ion-col>
                      <ion-button shape="round" class="btn-bg" (click)="form()">
                        <ion-icon name="paper-plane"></ion-icon>
                      </ion-button>
                    
                    </ion-col>
                  </ion-row>
                </ion-grid>
                  
              </ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
              Con este formulario podras anotar caracteristics especiales que se detecten del paciente.
            </ion-card-content>
          </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>