<ion-header>
  <ion-toolbar color="danger">
    <ion-title >
      Reportes de Psicología
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/psicologo_pacman.jpg" width="100" hight="50" class="center"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Reportes</ion-card-subtitle>
        <ion-card-title>Seleciona el reporte</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>De la siguiete listas seleciona el reporte que desea diligenciar.</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Reportes</ion-label>
      </ion-list-header>
      <ion-item href="https://www.icbf.gov.co/">
        <ion-icon slot="start" color="warning " name="bookmark"></ion-icon>
        <ion-label>Bienestar Familiar</ion-label>
      </ion-item>
      <ion-item href="https://www.fiscalia.gov.co/colombia/">
        <ion-icon slot="start" color="warning" name="bookmark"></ion-icon>
        <ion-label>Fiscalia</ion-label>
      </ion-item>
      <ion-item href="https://www.policia.gov.co/proteccion-infancia">
        <ion-icon slot="start" color="warning" name="bookmark"></ion-icon>
        <ion-label>Policia de Infancia y <br> adolecencia</ion-label>
      </ion-item>
      <ion-item href="#">
        <ion-icon slot="start" color="warning" name="bookmark"></ion-icon>
        <ion-label>Siquiatria</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
