<ion-header>
  <ion-toolbar color="danger">
    <ion-title >
     <ion-buttons>
              <ion-icon name="clipboard"></ion-icon>
              Calendario de citas 
              <ion-button color="primary" (click)="salir()">
                  <ion-icon name="exit"></ion-icon>
              </ion-button>
            </ion-buttons>    
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
      <ion-item *ngFor=" let cal of calendars" tappable>
        <ion-button 
        icon-only
        (click) = "addEvent(cal)"
        >
          <ion-icon name="add"></ion-icon>
        </ion-button>
        {{cal.name}}
        <p>{{cal.type}}</p>
        <ion-button 
        icon-only
        (click) = "openCal(cal)"
        >
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
</ion-content>
