<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-icon name="people"></ion-icon>
      Pacientes
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let paciente of pacientes">
      <ion-grid>
        <ion-row align-items-center>
          <ion-col align-self-center>
            <ion-avatar item-start>
              <!-- <img [src]="paciente.picture.medium"> -->
            </ion-avatar>
          </ion-col>
          <ion-col align-self-center>
            <!-- <ion-label>{{ paciente.name.first  | uppercase }}</ion-label>
         <ion-label>{{ paciente.email }}</ion-label> -->
            <ion-label>{{ paciente.name | uppercase }}</ion-label>
            <ion-label>{{ paciente.phone }}</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/add-edit-patient', { tab:tabIndex, item:-1 }]">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
